In [4]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [5]:
from tensorflow import keras

In [7]:
df=pd.read_csv("fertility_Diagnosis.csv")
df.head()

,Seasons,Age,Disease,Trauma,Surgical_intervention,Smoking,Fever,alcohol_consumption,Sitting,Diagnosis
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,N
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,O
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,N
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,N
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,O

In [8]:
df['Diagnosis'].replace({'N':0,"O":1},inplace=True)

In [3]:
df.head()

,Seasons,Age,Disease,Trauma,Surgical_intervention,Smoking,Fever,alcohol_consumption,Sitting,Diagnosis
0,-0.316753,0.173970,-2.586949,1.128152,0.980196,-0.32881,-0.192006,0.434959,2.551481,0
1,-0.316753,2.245043,0.386556,-0.886405,0.980196,-0.32881,-0.192006,1.677698,-0.521943,1
2,-0.316753,-1.400045,0.386556,-0.886405,-1.020204,-0.32881,1.008032,-0.807781,0.502532,0
3,-0.316753,0.671028,-2.586949,1.128152,0.980196,-0.32881,1.008032,-0.807781,-0.144505,0
4,-0.316753,0.008284,0.386556,1.128152,-1.020204,-0.32881,-0.192006,-0.807781,0.502532,1

In [14]:
columns=['Seasons','Age','Disease','Trauma','Surgical_intervention','Smoking','Fever','alcohol_consumption�','Sitting']
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df[columns]=scaler.fit_transform(df[columns])

In [15]:
df.head()

,Seasons,Age,Disease,Trauma,Surgical_intervention,Smoking,Fever,alcohol_consumption�,Sitting,Diagnosis
0,0.335,0.38,0.0,1.0,1.0,0.5,0.75,0.5,0.872340,0
1,0.335,0.88,1.0,0.0,1.0,0.5,0.75,1.0,0.265957,1
2,0.335,0.00,1.0,0.0,0.0,0.5,1.00,0.0,0.468085,0
3,0.335,0.50,0.0,1.0,1.0,0.5,1.00,0.0,0.340426,0
4,0.335,0.34,1.0,1.0,0.0,0.5,0.75,0.0,0.468085,1

In [16]:
df.to_csv(r'C:\Users\VEDANG SAWANT\Desktop\Projects\Diagnosis (SAS)\std_Diagnosis.csv')

In [4]:
df_class_0=df[df['Diagnosis']==0]
df_class_1=df[df['Diagnosis']==1]

In [5]:
df.Diagnosis.value_counts()

0    88
1    12
Name: Diagnosis, dtype: int64

In [6]:
df_class_1_over=df_class_1.sample(88,replace=True)
df_class_1_over.shape

(88, 10)

In [7]:
df_test_over=pd.concat([df_class_0,df_class_1_over],axis=0)

In [8]:
df_test_over.shape

(176, 10)

In [9]:
df_test_over

,Seasons,Age,Disease,Trauma,Surgical_intervention,Smoking,Fever,alcohol_consumption,Sitting,Diagnosis
0,-0.316753,0.173970,-2.586949,1.128152,0.980196,-0.328810,-0.192006,0.434959,2.551481,0
2,-0.316753,-1.400045,0.386556,-0.886405,-1.020204,-0.328810,1.008032,-0.807781,0.502532,0
3,-0.316753,0.671028,-2.586949,1.128152,0.980196,-0.328810,1.008032,-0.807781,-0.144505,0
5,-0.316753,0.008284,0.386556,-0.886405,0.980196,-0.328810,-0.192006,0.434959,0.502532,0
6,-0.316753,0.008284,-2.586949,-0.886405,-1.020204,-2.059391,-0.192006,-0.807781,0.179013,0
...,...,...,...,...,...,...,...,...,...,...
19,1.360990,0.008284,0.386556,-0.886405,-1.020204,-0.328810,-0.192006,1.677698,-0.144505,1
29,1.360990,0.008284,-2.586949,-0.886405,0.980196,-0.328810,-1.392045,0.434959,0.502532,1
29,1.360990,0.008284,-2.586949,-0.886405,0.980196,-0.328810,-1.392045,0.434959,0.502532,1
70,-0.316753,-1.400045,0.386556,1.128152,-1.020204,-2.059391,-0.192006,0.434959,2.551481,1
26,1.360990,0.008284,0.386556,-0.886405,0.980196,-0.328810,-1.392045,-0.807781,-0.144505,1

In [23]:
df_test_over.to_csv(r"C:\Users\VEDANG SAWANT\Desktop\Projects\Diagnosis (SAS)\diagnosis_over.csv")